body {
    margin: 0;
    text-align: center;
}
.hero {
    background: #6943FF;
    color: white;
    padding: 20px;
}
h1 {
    
}
input {
    border: 1px #B295FF solid;
    border-radius: 5px;
    height: 60px;
    width: 70px;
    background:  #6943FF;
    color: white;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    display: block;
    margin: 0px auto;
    margin-bottom: 20px 
}
button {
    background: white;
    border: 0px;
    padding: 10px 25px;
    border-radius: 5px
}
.main {
    padding: 20px;
    background: #1F2937;
    text-align: centre;
    color: whitesmoke;
}
.section-1 {
     background: #273549;
     padding: 10px;
     margin-bottom: 20px
}
.section-2 {
    background: #273549;
     padding: 10px;
    margin-bottom: 20px
}
.section-3 {
    background: #273549;
     padding: 10px
}
